
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
}


.nav-bar .logo {
    color: #292929;
    font-size: 26px;
    line-height: 55px;
    font-weight: 800;
}





.btn-lg {
    font-size: 16px;
    height: 65px;
    line-height: 65px;
    min-width: 300px;
}

#section2 {
	background-color: #808080;
}

#section5 h2 {
	color: #000000;
}

#section5 h4 {
	color: #000000;
}

#section3 h3 {
	color: #000000;
}


#font1 {
	font-size : 250%;
	color : #000000;
}
#font11 {
	font-size : 200%;
	color : #000000;
}

.img-opacity-4 {
	opacity: .5 !important;
}
#section5 h3 {
	color: #000000;
}
